<html ng-app="helloApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<style>
.jumbotron {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin-bottom: 10px;
}
.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
</style>
<script src="./app.js"></script>
</head>
<body ng-controller="CompanyCtrl">
<div class="container">
	<div class="jumbotron">
		<h1>COVID-19</h1>      
		<p>Most accurate count of COVID-19 cases across the World</p>
	</div>
<table class="table table-striped">
<thead>
	<tr>
		<th ng-click="sortBy('0')" class="sortorder" ng-class="{reverse: reverse}"  >Countries</th>
		<th ng-click="sortBy('1')" class="sortorder" ng-class="{reverse: reverse}" >Total Cases</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="country in countries | orderBy:propertyName:reverse">
		<td>{{country[0]}}</td>
		<td>{{country[1]}}</td>
	</tr>
</tbody>
</table>
</div>
</body>
</html>